{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <div class ='main'>
        <div class='page-header mt-30 mb-70'>
            <div class="container">
                <div class="row align-center">
                    <div class="col-xl-4">
                        <h1 class="mb-15"> Categories</h1>

                        <div class="single-product-wrapper">
                            <div class="total-products">
                                <p> We found <strong class="text-brand">{{category.count}}</strong> items for you!</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
            {% for C in category %}
                <!-- Single Product -->
                <div class="single-product">
            
                <!-- Product Image -->
                <div class="post-thumb">
                    <a href="{% url 'core:category'%}">
                        <img class="border-radius-15" src="{{C.image.url}}" alt="">
                    </a>
                     <div class="entry-content-2">
                        <h4 class="post-title mb-10">
                            <a href="{% url 'core:category'%}">{{C.title}}</a>
                        </h4>
                </div>
            </div>  
        </div>
        {% endfor %}
        </div>
    </div>  

</div>

   
{%endblock content %}